.data-table {
  .data-table-selected-actions {
    position: fixed;
    z-index: 199;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    .MuiButtonBase-root {
      width: 40%;
      color: $white;
      line-height: 1.1;
    }
  }
}
