@use '../variables' as *;

.pop-up {
  .MuiDialogTitle-root {
    background-color: $primary;
  }
  .MuiDialogActions-root {
    justify-content: space-evenly;
  }
  .MuiDialogActions-root {
    .MuiButton-textSuccess {
      color: $primary;
    }
  }
}
