@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//fonts
$font-general: 'Roboto', sans-serif;

//collors
$primary: #ed1c24;
$primary-hover: #b20000;
$gray-midle: #424242;
$gray-strong: #424242;
$gray-very-strong: #191919;
$white: #ffffff;
$gray-secondary: #efefef;
$gray-light: #c9c9c9;

//personalizações e resets

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-family: $font-general;
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #191919;

  .main{
    padding: 2rem 3rem;
  }

  .footer {
    flex: 0 1 auto;
    color: $white;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 0.5rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    small {
      margin-right: 1rem;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    a:hover {
      color: $gray-light;
    }
  }
}
